<<<<<<< HEAD
body {
  background-color: lightblue;
}

.p1 {
  font-family: "Times New Roman", Times, serif;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}
=======
body {
  background-color: lightblue;
}
>>>>>>> 4dc26c46d1feb40c6262029fcc1f5b6c1577d69c
