body {
  background-color: lightblue;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  color: White;
  margin-left: 20px;
}


h2 {
  color: white;
  margin-left: 20px;
}
body {
  color: Black;
}
